@page "/customeredit"
@page "/customeredit/{CustomerId}"

@using SkullJocks.BenAdmin.App.Shared

<h1 class="page-title">Details for @CustomerDetailVm.CustomerName</h1>

@Message

<EditForm Model="@CustomerDetailVm" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    <div class="form-group row">
        <label for="c" class="col-sm-3" hidden="hidden">Customer Id: </label>
        <input id="customername" hidden="hidden" class="form-control col-sm-8" @bind-value="@CustomerDetailVm.CustomerId" />
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.CustomerId)" />
    </div>
    <br />

    <div class="form-group row">
        <label for="customerType" class="col-sm-3">Category: </label>
        <InputSelect id="customerType" class="form-control col-sm-8" @bind-Value="@SelectedCustomerTypeId">
            @foreach (var customerTypes in CustomerTypes)
            {
                <option value="@customerTypes.CustomerTypeId">@customerTypes.CustomerTypeName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group row">
        <label for="c" class="col-sm-3">Customer Name: </label>
        <input id="customername" class="form-control col-sm-8" @bind-value="@CustomerDetailVm.CustomerName" />
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.CustomerName)" />
    </div>

    <div class="form-group row">
        <label for="c" class="col-sm-3">Email: </label>
        <input id="email" class="form-control col-sm-8" @bind-value="@CustomerDetailVm.CustomerEmail" />
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.CustomerEmail)" />
    </div>

    <div class="form-group row">
        <label for="c" class="col-sm-3">Phone: </label>
        <input id="phone" class="form-control col-sm-8" @bind-value="@CustomerDetailVm.CustomerPhone" />
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.CustomerPhone)" />
    </div>

    <div class="form-group row">
        <label for="c" class="col-sm-3">Extension: </label>
        <input id="extension" class="form-control col-sm-8" @bind-value="@CustomerDetailVm.CustomerPhoneExtension" />
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.CustomerPhoneExtension)" />
    </div>

    <div class="form-group row">
        <label for="addressline1" class="col-sm-3">Address Line 1: </label>
        <InputText id="addressline1" class="form-control col-sm-8" @bind-Value="@CustomerDetailVm.AddressLine1"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.AddressLine1)" />
    </div>

    <div class="form-group row">
        <label for="addressline2" class="col-sm-3">Address Line 2: </label>
        <InputText id="addressline2" class="form-control col-sm-8" @bind-Value="@CustomerDetailVm.AddressLine2"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.AddressLine2)" />
    </div>

    <div class="form-group row">
        <label for="city" class="col-sm-3">City: </label>
        <InputText id="city" class="form-control col-sm-8" @bind-Value="@CustomerDetailVm.City"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.City)" />
    </div>

    <div class="form-group row">
        <label for="state" class="col-sm-3">State: </label>
        <InputText id="state" class="form-control col-sm-8" @bind-Value="@CustomerDetailVm.State"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.State)" />
    </div>

    <div class="form-group row">
        <label for="zip" class="col-sm-3">City: </label>
        <InputText id="zip" class="form-control col-sm-8" @bind-Value="@CustomerDetailVm.ZipCode"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => @CustomerDetailVm.ZipCode)" />
    </div>

    <button type="submit" class="btn btn-primary edit-btn">Save Customer</button>
    <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
</EditForm>
